version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    labels:
      - npm
      - dependencies
    versioning-strategy: increase

  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: daily
    labels:
      - rust
      - dependencies
